<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../models/head.ejs') %>
</head>
<body>
    <!--%- include('../models/body.ejs') %-->
<header>
    <%- include('../models/header.ejs') %>
</header>

<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('../models/footer.ejs') %>
</footer>

</body>
</html>