<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./css/new.css" />
<div class="loader" id="loader2">
    <img src="./gif/loader2.gif">
</div>
<script type="text/javascript">
    window.addEventListener("load",function(){
        const loader=document.querySelector(".loader");
        loader.className += " hidden"
    });
</script>