<!-- views/partials/footer.ejs -->
<!--p class="text-center text-muted">© Copyright 2014 The Awesome People</p-->

<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">:)</h1>
        
    <h2>Address</h2>
    
    <address>
      Keutia, Kankinara, 24 PGS (N)<br>
      West Bengal, 743126, IN<br>
          
      <a class="footer__btn" href="mailto:contact@mahadebhelpdesk" target="_blank" >Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Partners</h2>

      <ul class="nav__ul">
        <li>
          <a href="https://csc.gov.in/" target="_blank" >CSC eGov</a>
        </li>

        <li>
          <a href="https://www.utiitsl.com" target="_blank" >UTIITSL</a>
        </li>

        <li>
          <a href="https://www.airtel.in/bank/" target="_blank" >Airtel Payments Bank</a>
        </li>

      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Contact</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="tel:919674161918">+91 9674161918</a>
        </li>
        
        <li>
          <a href="mailto:contact@mahadebhelpdesk.tk" target="_blank">contact@mahadebhelpdesk.tk</a>
        </li>

        <li>
          <a href="https://web.whatsapp.com/send?phone=919674161918&text=Hello" target="_blank">WhatsApp</a>
        </li>
        
        <li>
          <a href="https://www.google.co.in/maps/dir//Mahadeb+Help-Desk,+Keutia+Road,+Kalyani+Expy,+Kankinara,+West+Bengal+743126/@22.8371785,88.4182392,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x39f897ca06cf1c25:0xfe571a28e0090125!2m2!1d88.4200738!2d22.8374603?hl=en" target="_blank">Directions</a>
        </li>
        
        <li>
          <a href="https://tinyurl.com/rate-us-in" target="_blank">Feedback</a>
        </li>
        
        <li>
          <a href="#"></a>
        </li>
        
        <li>
          <a href="#"></a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#"></a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2020. All rights reserved.</p>
    
    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> by <a class="aniket" href="mailto:aniket@mahadebhelpdesk.tk"> Aniket </a> </span>
    </div>
  </div>
</footer>