<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>MAHADEB HELP-DESK</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel='icon' href='./img/Logo.png'>
<style>
    body    { padding-top:50px; }
</style>